<div class="row m-0"style="min-height: 100vh; width: 100vw">
  <div class="row " style="min-height: 20vh; width: 100vw; margin-top: 10px">
    <div class="col-2"></div>
    <div class="col-8">
      <table class="table table-bordered">
        <thead>
        <tr style="text-align: center; background-color: #f16c52" >
          <th>Hình ảnh</th>
          <th>Tên sản phẩm</th>
          <th>Giá</th>
          <th>Số lượng</th>
          <th>Thành tiền</th>
          <th>Xóa</th>
        </tr>
        </thead>
        <tbody *ngIf="(foodList) != null; else elseBlock">
        <tr style="height: 176px" *ngFor="let food of foodList">
          <td style="width: 25%;height: 176px; text-align: center;line-height: 176px"><img src="{{food.url}}"> </td>
          <td style="width: 25%; text-align: center; line-height: 176px">{{food.foodName}}</td>
          <td style="width: 15%; text-align: center; line-height: 176px">{{food.price}}₫</td>

<!--          <td style="width: 15%; text-align: center; line-height: 176px">{{food.quantity}}</td>-->
          <td style="width: 15%; text-align: center; line-height: 176px">
            <div class="form-product col-sm-12">
              <div style=" display: inline-block; height: 40px;">
                <button type="button" style="height: 40px; width: 40px" (click)="changeQuantity('-',food.idFood)">
                  <i class="bi bi-caret-left"></i>
                </button>
                <button type="button" style="height: 40px; width: 55px">
                  {{food.quantity}}
                </button>
                <button type="button" style="height: 40px; width: 40px"  (click)="changeQuantity('+',food.idFood)">
                  <i class="bi bi-caret-right"></i>
                </button>
              </div>
            </div>
          </td>
          <td style="width: 15%; text-align: center; line-height: 176px" *ngIf="food.quantity!= undefined && food.price != undefined">{{food.quantity*food.price}}₫</td>
          <td style="width: 5%; text-align: center; line-height: 176px"><button data-bs-toggle="modal" data-bs-target="#removeFood" (click)="temp = food"><i class="bi bi-trash3 *1.5"></i></button> </td>
        </tr>
        </tbody>
        <ng-template  #elseBlock>
          <tr>
            <td>Không có sản phẩm trong giỏ hàng</td>
          </tr>
        </ng-template>
      </table>
      <div class="row mt-2" style="height: 50px">
        <div class="col-10"></div>
        <div class="col-2">
          <span>Thành tiền: </span>
          <span class="price" style="text-align: center;line-height: 50px; color: #eb7058; font-weight: 700; font-size: 16px" >{{totalPay}}₫</span>
        </div>
      </div>

      <div class="row m-0" style="height: 50px">
        <div class="col-8"></div>
        <div class="col-4">
          <div class="row">
            <div class="col-6" style="border-radius: 5px">
              <p style="text-align: center; line-height: 50px" routerLink="/product" class="hover-class1">Tiếp tục mua sắm</p>
            </div>
            <div class="col-6 " style="border-radius: 5px">
              <p style="text-align: center; line-height: 50px; color: white"class="hover-class2" (click)="goToPaymentPage()">Tiến hành đặt hàng</p>
            </div>

          </div>

        </div>
      </div>
    </div>
    </div>
    <div class="col-2"></div>

</div>
<app-remove-food-from-cart [food] = "temp" [idCustomer]="idCustomer" (emiter)="this.getAllFoodInCart(idCustomer)"></app-remove-food-from-cart>



