.center{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.logo{
    height: 100%;
}
.search{
    height: 100%;
}
.header-right{
    height: 100%;

}
a {
    text-decoration: none;
}
