<div class="container mt-2 bg-white" style="min-height: 100vh">
<div style="min-height: 70ch">
  <div class="row">
        <div class="col-lg-3 col-12">
          <div style="padding: 0 15px">
            <div class="row" style="height: 50px;padding: 0 15px; background-color: #f16c52">
              <h4 style="color: white; line-height: 50px; text-align: left"><i class="bi bi-list"></i> DANH MỤC</h4>
            </div>
            <div class="row items_slider_left">
              <div class="element-slider-left border-bottom">
                <p>Hoa quả nhập khẩu</p>
              </div>
              <div class="element-slider-left border-bottom">
                <p>Rau lá</p>
              </div>
              <div class="element-slider-left border-bottom">
                <p>Củ quả</p>
              </div>
              <div class="element-slider-left border-bottom">
                <p>Bánh các loại</p>
              </div>
              <div class="element-slider-left border-bottom">
                <p>Đặc sản vùng miền</p>
              </div>
              <div class="element-slider-left border-bottom">
                <p>Thịt các loại</p>
              </div>
              <div class="element-slider-left border-bottom">
                <p>Cá các loại</p>
              </div>
            </div>
          </div>
        </div>
    <div class="col-lg-9 col-12">
      <div style="margin-left: 10px; min-height: 40vh">
        <div class="row m-0" style="height: 40px;background-color: #f16c52">
          <h4 STYLE="text-align: center; line-height: 40px;color: white">SẢN PHẨM</h4>
        </div>
        <div class="row">
          <div class="col-3 col-md-3 col-lg-3 border-bottom">
            <div class="main_product">
              <div class="product-thumbnail" style="height: 249px">
                <a class="image_thumb" href="#" title="Cam Navel ruột vàng" style="height: 249px;">
                  <img class="lazyload loaded" src="https://cdn.tgdd.vn/Products/Images/8820/271485/bhx/xa-lach-lo-lo-xanh-goi-500g-202211220937160621.jpg" data-src="//bizweb.dktcdn.net/thumb/large/100/068/166/products/4.jpg?v=1458638411903" alt="Cam Navel ruột vàng" data-was-processed="true">
                </a>
              </div>
              <div class="product-info">
                <div class="price-box">
                  <span class="price">240.000₫</span>
                  <span class="compare-price">340.000₫</span>
                </div>
                <h3 class="product-name"><a routerLink="/cart" title="Cam Navel ruột vàng">Cam Navel ruột vàng</a></h3>
              </div>
            </div>
          </div>
          <div class="col-3 col-md-3 col-lg-3 border-bottom">
            <div class="main_product">
              <div class="product-thumbnail" style="height: 249px">
                <a class="image_thumb" href="#" title="Dâu tây đà lạt" style="height: 249px;">
                  <img class="lazyload loaded" src="https://bizweb.dktcdn.net/thumb/large/100/068/166/products/13.jpg?v=1458639408253" data-src="https://bizweb.dktcdn.net/thumb/large/100/068/166/products/13.jpg?v=1458639408253" alt="Cam Navel ruột vàng" data-was-processed="true">
                </a>
              </div>
              <div class="product-info">
                <div class="price-box">
                  <span class="price">190.000₫</span>
                  <span class="compare-price">290.000₫</span>
                </div>
                <h3 class="product-name"><a href="#" title="Dâu tây đà lạt">Dâu tây đà lạt</a></h3>
              </div>
            </div>
          </div>
          <div class="col-3 col-md-3 col-lg-3 border-bottom">
            <div class="main_product">
              <div class="product-thumbnail" style="height: 249px">
                <a class="image_thumb" href="#" title="Cam Navel ruột vàng" style="height: 249px;">
                  <img class="lazyload loaded" src="//bizweb.dktcdn.net/thumb/large/100/068/166/products/4.jpg?v=1458638411903" data-src="//bizweb.dktcdn.net/thumb/large/100/068/166/products/4.jpg?v=1458638411903" alt="Cam Navel ruột vàng" data-was-processed="true">
                </a>
              </div>
              <div class="product-info">
                <div class="price-box">
                  <span class="price">240.000₫</span>
                  <span class="compare-price">340.000₫</span>
                </div>
                <h3 class="product-name"><a routerLink="/cart" title="Cam Navel ruột vàng">Cam Navel ruột vàng</a></h3>
              </div>
            </div>
          </div>
          <div class="col-3 col-md-3 col-lg-3 border-bottom">
            <div class="main_product">
              <div class="product-thumbnail" style="height: 249px">
                <a class="image_thumb" href="#" title="Dâu tây đà lạt" style="height: 249px;">
                  <img class="lazyload loaded" src="https://bizweb.dktcdn.net/thumb/large/100/068/166/products/13.jpg?v=1458639408253" data-src="https://bizweb.dktcdn.net/thumb/large/100/068/166/products/13.jpg?v=1458639408253" alt="Cam Navel ruột vàng" data-was-processed="true">
                </a>
              </div>
              <div class="product-info">
                <div class="price-box">
                  <span class="price">190.000₫</span>
                  <span class="compare-price">290.000₫</span>
                </div>
                <h3 class="product-name"><a href="#" title="Dâu tây đà lạt">Dâu tây đà lạt</a></h3>
              </div>
            </div>
          </div>
          <div class="col-3 col-md-3 col-lg-3 border-bottom">
            <div class="main_product">
              <div class="product-thumbnail" style="height: 249px">
                <a class="image_thumb" href="#" title="Cam Navel ruột vàng" style="height: 249px;">
                  <img class="lazyload loaded" src="//bizweb.dktcdn.net/thumb/large/100/068/166/products/4.jpg?v=1458638411903" data-src="//bizweb.dktcdn.net/thumb/large/100/068/166/products/4.jpg?v=1458638411903" alt="Cam Navel ruột vàng" data-was-processed="true">
                </a>
              </div>
              <div class="product-info">
                <div class="price-box">
                  <span class="price">240.000₫</span>
                  <span class="compare-price">340.000₫</span>
                </div>
                <h3 class="product-name"><a routerLink="/cart" title="Cam Navel ruột vàng">Cam Navel ruột vàng</a></h3>
              </div>
            </div>
          </div>
          <div class="col-3 col-md-3 col-lg-3 border-bottom">
            <div class="main_product">
              <div class="product-thumbnail" style="height: 249px">
                <a class="image_thumb" href="#" title="Dâu tây đà lạt" style="height: 249px;">
                  <img class="lazyload loaded" src="https://bizweb.dktcdn.net/thumb/large/100/068/166/products/13.jpg?v=1458639408253" data-src="https://bizweb.dktcdn.net/thumb/large/100/068/166/products/13.jpg?v=1458639408253" alt="Cam Navel ruột vàng" data-was-processed="true">
                </a>
              </div>
              <div class="product-info">
                <div class="price-box">
                  <span class="price">190.000₫</span>
                  <span class="compare-price">290.000₫</span>
                </div>
                <h3 class="product-name"><a href="#" title="Dâu tây đà lạt">Dâu tây đà lạt</a></h3>
              </div>
            </div>
          </div>
          <div class="col-3 col-md-3 col-lg-3 border-bottom">
            <div class="main_product">
              <div class="product-thumbnail" style="height: 249px">
                <a class="image_thumb" href="#" title="Cam Navel ruột vàng" style="height: 249px;">
                  <img class="lazyload loaded" src="//bizweb.dktcdn.net/thumb/large/100/068/166/products/4.jpg?v=1458638411903" data-src="//bizweb.dktcdn.net/thumb/large/100/068/166/products/4.jpg?v=1458638411903" alt="Cam Navel ruột vàng" data-was-processed="true">
                </a>
              </div>
              <div class="product-info">
                <div class="price-box">
                  <span class="price">240.000₫</span>
                  <span class="compare-price">340.000₫</span>
                </div>
                <h3 class="product-name"><a routerLink="/cart" title="Cam Navel ruột vàng">Cam Navel ruột vàng</a></h3>
              </div>
            </div>
          </div>
          <div class="col-3 col-md-3 col-lg-3 border-bottom">
            <div class="main_product">
              <div class="product-thumbnail" style="height: 249px">
                <a class="image_thumb" href="#" title="Dâu tây đà lạt" style="height: 249px;">
                  <img class="lazyload loaded" src="https://bizweb.dktcdn.net/thumb/large/100/068/166/products/13.jpg?v=1458639408253" data-src="https://bizweb.dktcdn.net/thumb/large/100/068/166/products/13.jpg?v=1458639408253" alt="Cam Navel ruột vàng" data-was-processed="true">
                </a>
              </div>
              <div class="product-info">
                <div class="price-box">
                  <span class="price">190.000₫</span>
                  <span class="compare-price">290.000₫</span>
                </div>
                <h3 class="product-name"><a href="#" title="Dâu tây đà lạt">Dâu tây đà lạt</a></h3>
              </div>
            </div>
          </div>
          <div class="col-3 col-md-3 col-lg-3 border-bottom">
            <div class="main_product">
              <div class="product-thumbnail" style="height: 249px">
                <a class="image_thumb" href="#" title="Cam Navel ruột vàng" style="height: 249px;">
                  <img class="lazyload loaded" src="//bizweb.dktcdn.net/thumb/large/100/068/166/products/4.jpg?v=1458638411903" data-src="//bizweb.dktcdn.net/thumb/large/100/068/166/products/4.jpg?v=1458638411903" alt="Cam Navel ruột vàng" data-was-processed="true">
                </a>
              </div>
              <div class="product-info">
                <div class="price-box">
                  <span class="price">240.000₫</span>
                  <span class="compare-price">340.000₫</span>
                </div>
                <h3 class="product-name"><a routerLink="/cart" title="Cam Navel ruột vàng">Cam Navel ruột vàng</a></h3>
              </div>
            </div>
          </div>
          <div class="col-3 col-md-3 col-lg-3 border-bottom">
            <div class="main_product">
              <div class="product-thumbnail" style="height: 249px">
                <a class="image_thumb" href="#" title="Dâu tây đà lạt" style="height: 249px;">
                  <img class="lazyload loaded" src="https://bizweb.dktcdn.net/thumb/large/100/068/166/products/13.jpg?v=1458639408253" data-src="https://bizweb.dktcdn.net/thumb/large/100/068/166/products/13.jpg?v=1458639408253" alt="Cam Navel ruột vàng" data-was-processed="true">
                </a>
              </div>
              <div class="product-info">
                <div class="price-box">
                  <span class="price">190.000₫</span>
                  <span class="compare-price">290.000₫</span>
                </div>
                <h3 class="product-name"><a href="#" title="Dâu tây đà lạt">Dâu tây đà lạt</a></h3>
              </div>
            </div>
          </div>
          <div class="col-3 col-md-3 col-lg-3 border-bottom">
            <div class="main_product">
              <div class="product-thumbnail" style="height: 249px">
                <a class="image_thumb" href="#" title="Cam Navel ruột vàng" style="height: 249px;">
                  <img class="lazyload loaded" src="//bizweb.dktcdn.net/thumb/large/100/068/166/products/4.jpg?v=1458638411903" data-src="//bizweb.dktcdn.net/thumb/large/100/068/166/products/4.jpg?v=1458638411903" alt="Cam Navel ruột vàng" data-was-processed="true">
                </a>
              </div>
              <div class="product-info">
                <div class="price-box">
                  <span class="price">240.000₫</span>
                  <span class="compare-price">340.000₫</span>
                </div>
                <h3 class="product-name"><a routerLink="/cart" title="Cam Navel ruột vàng">Cam Navel ruột vàng</a></h3>
              </div>
            </div>
          </div>
          <div class="col-3 col-md-3 col-lg-3 border-bottom">
            <div class="main_product">
              <div class="product-thumbnail" style="height: 249px">
                <a class="image_thumb" href="#" title="Dâu tây đà lạt" style="height: 249px;">
                  <img class="lazyload loaded" src="https://bizweb.dktcdn.net/thumb/large/100/068/166/products/13.jpg?v=1458639408253" data-src="https://bizweb.dktcdn.net/thumb/large/100/068/166/products/13.jpg?v=1458639408253" alt="Cam Navel ruột vàng" data-was-processed="true">
                </a>
              </div>
              <div class="product-info">
                <div class="price-box">
                  <span class="price">190.000₫</span>
                  <span class="compare-price">290.000₫</span>
                </div>
                <h3 class="product-name"><a href="#" title="Dâu tây đà lạt">Dâu tây đà lạt</a></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
