<div class="container mt-2 bg-white" style="min-height: 100vh">
<div style="min-height: 70ch">
  <div class="row">
        <div class="col-lg-3 col-12">
          <div style="padding: 0 15px">
            <div class="row" style="height: 50px;padding: 0 15px; background-color: #f16c52">
              <h4 style="color: white; line-height: 50px; text-align: left"><i class="bi bi-list"></i> DANH MỤC</h4>
            </div>
            <div class="row items_slider_left">
              <div class="element-slider-left border-bottom">
                <p (click)="getFoodByCategory(1)">Hoa quả nhập khẩu</p>
              </div>
              <div class="element-slider-left border-bottom">
                <p (click)="getFoodByCategory(2)">Rau lá</p>
              </div>
              <div class="element-slider-left border-bottom">
                <p (click)="getFoodByCategory(3)">Rau củ sơ chế</p>
              </div>
              <div class="element-slider-left border-bottom">
                <p (click)="getFoodByCategory(4)">Thịt các loại</p>
              </div>
              <div class="element-slider-left border-bottom">
                <p (click)="getFoodByCategory(5)">Cá các loại</p>
              </div>
              <div class="element-slider-left border-bottom">
                <p (click)="getFoodByCategory(6)">Bánh các loại</p>
              </div>
<!--              <div class="element-slider-left border-bottom">-->
<!--                <p>Cá các loại</p>-->
<!--              </div>-->
            </div>
          </div>
        </div>
    <div class="col-lg-9 col-12">
      <div style="margin-left: 10px; min-height: 40vh">
        <div class="row m-0" style="height: 40px;background-color: #f16c52">
          <h4 STYLE="text-align: center; line-height: 40px;color: white">SẢN PHẨM</h4>
        </div>
        <div class="row"  *ngIf="foodList != undefined">
          <div class="col-3 col-md-3 col-lg-3 border-bottom" *ngFor="let food of foodList">
            <div class="main_product">
              <div class="product-thumbnail" style="height: 249px">
                <div class="image_thumb" title="Cam Navel ruột vàng" style="height: 249px;">
                  <img class="lazyload loaded" src="{{food.url}}" data-src="{{food.url}}" alt="Cam Navel ruột vàng" data-was-processed="true">
                </div>
                <div class="km"><span style="margin-right: 4px; color: white">KM</span></div>
              </div>
              <div class="product-info">
                <div class="price-box">
                  <span class="price">{{food.price}}₫</span>
                  <span class="compare-price">{{food.comparePrice}}₫</span>
                </div>
                <h3 class="product-name"><a routerLink="/cart" title="Cam Navel ruột vàng">{{food.name}}</a></h3>
              </div>

            </div>
            <div class="action">
              <div class="row">
                <div class="col-3">
                </div>
                <div class="col-6">
                  <button class="btn btn-primary" [routerLink]="['/detail/',food.idFood]">Xem chi tiết</button>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
