
  <div class="mid-header bg-white">
    <div class="container" style="min-height: 120px">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-12 col_first">
          <div class="center">
            <div class="logo">
              <!--                            <img width="140" height="80" src="https://bizweb.dktcdn.net/100/068/166/themes/880372/assets/logo.png?1676015225050">-->
              <img width="100" height="80" src="../../../assets/image/food%20delivery.png">
            </div>
          </div>
        </div>
        <div class="col-xl-5 col-lg-4 col-12 col_second">
          <div class="center ">
            <div class="search d-flex">
              <input name="search" id="search" class="form-control " style="width: 70%">
              <button type="submit" class="btn btn-outline-danger me-2 " style="width: 135px">
                <i class="bi bi-search"></i>
                Tìm kiếm
              </button>
            </div>

          </div>
        </div>
        <div class="col-xl-4 col-lg-5 col-12 col_three" style="height: 120px">
          <div class="center">
            <div class="header-right" style="text-align: center; vertical-align: center; display: flex">
              <a style="margin: auto; margin-right: 3px" routerLink="/login">Đăng nhập</a>
              <span style="margin: auto; margin-right: 3px; margin-left: 3px" class="line">/</span>
              <a style="margin: auto; margin-left: 3px; margin-right: 10px" href="#" class="btns">Đăng ký</a>
              <div style="height: 40px;width: 140px; background-color: #dc7555; display: flex; " >
                <a routerLink="/cart" style="margin: auto; color: white"> <i class="bi bi-basket"></i> Giỏ hàng: (0)</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row m-0 mt-2 border-bottom border-top bg-white" style="height: 65px ">
    <div class="col-xxl-2 bg-white"></div>
    <div class="col-xxl-8 bg-white">
      <nav class="navbar navbar-expand-lg navbar-light bg-white" style="height: 100%">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="" style="font-family: Arial, sans-serif;">TRANG CHỦ</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="me-4" style="vertical-align: center; display: flex" >
                <a href="#" style="font-family: Arial, sans-serif;margin: auto; font-size: 20px; color: black">GIỚI THIỆU </a>
              </li>
              <li class="me-4"  style="vertical-align: center; display: flex" >
                <a href="#" style="font-family: Arial, sans-serif; margin: auto; font-size: 20px; color: black">DỊCH VỤ</a>
              </li>
              <li class="me-4"  style="vertical-align: center; display: flex" >
                <a routerLink="/product" style="font-family: Arial, sans-serif; margin: auto; font-size: 20px; color: black">SẢN PHẨM</a>
              </li>
              <li class="me-4"  style="vertical-align: center; display: flex" >
                <a href="#" style="font-family: Arial, sans-serif; margin: auto; font-size: 20px; color: black">KHUYẾN MẠI</a>
              </li>
              <li class="me-4"  style="vertical-align: center; display: flex" >
                <a href="#" style="font-family: Arial, sans-serif; margin: auto; font-size: 20px; color: black">LIÊN HỆ</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="col-xxl-2  bg-white"></div>
  </div>


