
<div class="row bg-white mt-4"  style="height: 100px">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="row">
        <div class="col-4">
          <h5 style="text-align: left">GIỚI THIỆU</h5>
          <p>Đây là trang web chuyên cung cấp thực phẩm sạch số 1 tại Việt nam với hơn 1000 cửa hàng lớn nhỏ trên toàn quốc </p>
        </div>
        <div class="col-4">
          <h5 style="text-align: left">CHÍNH SÁCH</h5>
        </div>
        <div class="col-4">
          <h5 style="text-align: left">ĐIỀU KHOẢN</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row border-top" style="height: 70px">
    <div class="col-2"></div>
    <div class="col-10">
      <p>@ Bản quyền thuộc về Lại Văn Ngọc</p>
    </div>
  </div>
</div>
